body {
  font-family: 'Segoe UI', sans-serif;
  background: #f1f3f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.calculator {
  margin-top: 30px;
}

input {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0aa1ac;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #cfcfcf;
  color:#0aa1ac;
}

p {
  margin-top: 10px;
  font-weight: bold;
  color: #5a5a5a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.logo {
  width: 50px;
  height: 50px;
}

button + button {
  margin-top: 10px;
  background-color: #6c757d;
}

button + button:hover {
  background-color: #5a6268;
}

.desc {
  font-family:Lucida sans ;
}
